In [1]:
import pandas as pd

In [2]:
# Date range
pd.date_range(start='2025-1-1', end='2025-1-10', freq='D')

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
dates = {"Date":['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10']}
dates_df= pd.DataFrame(dates)
dates_df

         Date
0  2025-01-01
1  2025-01-02
2  2025-01-03
3  2025-01-04
4  2025-01-05
5  2025-01-06
6  2025-01-07
7  2025-01-08
8  2025-01-09
9  2025-01-10

In [12]:
print(type(dates_df['Date']))
print(dates_df['Date'].dtype)

<class 'pandas.core.series.Series'>
object

In [49]:
dates_df['Date'] = pd.to_datetime(dates_df['Date'])
dates_df

        Date
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05
5 2025-01-06
6 2025-01-07
7 2025-01-08
8 2025-01-09
9 2025-01-10

In [52]:
dates_df['Date'].dtype

dtype('<M8[ns]')

In [54]:
dates_df['Date'].dt.year

0    2025
1    2025
2    2025
3    2025
4    2025
5    2025
6    2025
7    2025
8    2025
9    2025
Name: Date, dtype: int64

In [57]:
dates_df['Date'] = pd.to_datetime(dates_df['Date'])
print(dates_df)
dates_df['Date'].dt.day

        Date
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05
5 2025-01-06
6 2025-01-07
7 2025-01-08
8 2025-01-09
9 2025-01-10

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Date, dtype: int64

In [60]:
dates_df['Day']= dates_df['Date'].dt.day
dates_df['Month']= dates_df['Date'].dt.month
dates_df['Year']= dates_df['Date'].dt.year
dates_df

        Date  Day  Month  Year
0 2025-01-01    1      1  2025
1 2025-01-02    2      1  2025
2 2025-01-03    3      1  2025
3 2025-01-04    4      1  2025
4 2025-01-05    5      1  2025
5 2025-01-06    6      1  2025
6 2025-01-07    7      1  2025
7 2025-01-08    8      1  2025
8 2025-01-09    9      1  2025
9 2025-01-10   10      1  2025

In [61]:
df = pd.DataFrame({"Date":pd.date_range(start = '2025-1-1', periods=5)})
df

        Date
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05

In [62]:
df['Day']=df['Date'].dt.day
df['weekday']=df['Date'].dt.weekday
df['IsWeekend'] = df['Date'].dt.weekday //5==1
df

        Date  Day  weekday  IsWeekend
0 2025-01-01    1        2      False
1 2025-01-02    2        3      False
2 2025-01-03    3        4      False
3 2025-01-04    4        5       True
4 2025-01-05    5        6       True

        Date  Day  weekday  IsWeekend
0 2025-01-01    1        2      False
1 2025-01-02    2        3      False
2 2025-01-03    3        4      False
3 2025-01-04    4        5       True
4 2025-01-05    5        6       True

In [63]:
df['prevDate'] = df['Date']-pd.Timedelta(days=1)
df

        Date  Day  weekday  IsWeekend   prevDate
0 2025-01-01    1        2      False 2024-12-31
1 2025-01-02    2        3      False 2025-01-01
2 2025-01-03    3        4      False 2025-01-02
3 2025-01-04    4        5       True 2025-01-03
4 2025-01-05    5        6       True 2025-01-04

In [64]:
df['nextDate'] = df['Date']+pd.Timedelta(days=1)
df

        Date  Day  weekday  IsWeekend   prevDate   nextDate
0 2025-01-01    1        2      False 2024-12-31 2025-01-02
1 2025-01-02    2        3      False 2025-01-01 2025-01-03
2 2025-01-03    3        4      False 2025-01-02 2025-01-04
3 2025-01-04    4        5       True 2025-01-03 2025-01-05
4 2025-01-05    5        6       True 2025-01-04 2025-01-06

In [66]:
# We can add sign in timedelta function
df['Date']+pd.Timedelta(days=-1)

0   2024-12-31
1   2025-01-01
2   2025-01-02
3   2025-01-03
4   2025-01-04
Name: Date, dtype: datetime64[ns]

In [68]:
df = pd.DataFrame({"Date":pd.date_range(start='2025-1-1', periods=10, freq='h'), "Value1":range(10), "Value2":range(10,20)})
df

                 Date  Value1  Value2
0 2025-01-01 00:00:00       0      10
1 2025-01-01 01:00:00       1      11
2 2025-01-01 02:00:00       2      12
3 2025-01-01 03:00:00       3      13
4 2025-01-01 04:00:00       4      14
5 2025-01-01 05:00:00       5      15
6 2025-01-01 06:00:00       6      16
7 2025-01-01 07:00:00       7      17
8 2025-01-01 08:00:00       8      18
9 2025-01-01 09:00:00       9      19

In [70]:
delta= pd.Timedelta(days=3)
delta

Timedelta('3 days 00:00:00')

In [73]:
df['Date'] = pd.to_datetime(df["Date"])
df['FutureDate'] = df['Date'] + pd.Timedelta(weeks=2,days=3,hours=12)
df

                 Date  Value1  Value2          FutureDate
0 2025-01-01 00:00:00       0      10 2025-01-18 12:00:00
1 2025-01-01 01:00:00       1      11 2025-01-18 13:00:00
2 2025-01-01 02:00:00       2      12 2025-01-18 14:00:00
3 2025-01-01 03:00:00       3      13 2025-01-18 15:00:00
4 2025-01-01 04:00:00       4      14 2025-01-18 16:00:00
5 2025-01-01 05:00:00       5      15 2025-01-18 17:00:00
6 2025-01-01 06:00:00       6      16 2025-01-18 18:00:00
7 2025-01-01 07:00:00       7      17 2025-01-18 19:00:00
8 2025-01-01 08:00:00       8      18 2025-01-18 20:00:00
9 2025-01-01 09:00:00       9      19 2025-01-18 21:00:00

### CATEGORICAL DATE

In [75]:
df = pd.DataFrame({"Category":['A', 'B', 'C', 'D', 'A', 'B', 'D', 'C', 'A', 'B']})
df["Category"].value_counts()

A    3
B    3
C    2
D    2
Name: Category, dtype: int64

In [88]:
df["Category"].value_counts()

A    3
B    3
C    2
D    2
Name: Category, dtype: int64

In [84]:
# Same thing using collections module of python
from collections import Counter
var = ["A", 'B','C','A', 'B']
count=Counter(var)
print(count)
print(count['A'])

Counter({'A': 2, 'B': 2, 'C': 1})
2

In [83]:
# In pure python
var = ['A', 'B', 'C', 'D', 'A', 'B', 'D', 'C', 'A', 'B']
output={}
for x in var:
    output[x]= var.count(x)
output

{'A': 3, 'B': 3, 'C': 2, 'D': 2}