
1. Anything that we do with number is called stats or maths
2. Descriptive, inferential and Predictive

- Descriptive ----> Details about the data, summary.
`df.desecribe()`

- Inferential---> Outline and conclusion about the data
- predictive ----> Future prediction with the value (model usage)

3. Measure of central Tendency:
    - 3.1 Mean
    - 3.2 Median
    - 3.3 Mode
    - 3.4 Standard deviation
    - 3.5 Variance

In [19]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.stats.stattools import medcouple, robust_skewness

SyntaxError: invalid syntax (2526437999.py, line 4)

In [4]:

data= np.array([99,86,87,88,111,86,103,87,94,78,77,85,86])
data

array([ 99,  86,  87,  88, 111,  86, 103,  87,  94,  78,  77,  85,  86])

In [5]:
data.dtype

dtype('int64')

In [6]:
print(data.min())
print(data.max())
print(data.mean())
print(np.median(data))
print(data.std())
print(data.var())

77
111
89.76923076923077
87.0
9.258292301032677
85.71597633136093

In [7]:
df =pd.DataFrame(data, columns=['data'])
df

    data
0     99
1     86
2     87
3     88
4    111
5     86
6    103
7     87
8     94
9     78
10    77
11    85
12    86

In [8]:
df.describe()

             data
count   13.000000
mean    89.769231
std      9.636336
min     77.000000
25%     86.000000
50%     87.000000
75%     94.000000
max    111.000000

In [9]:
df.var()

data    92.858974
dtype: float64

In [10]:
df.median()

data    87.0
dtype: float64

In [11]:
df.mode()

   data
0    86

In [12]:
df.std()

data    9.636336
dtype: float64

In [13]:
df.mean()

data    89.769231
dtype: float64

In [14]:
data

array([ 99,  86,  87,  88, 111,  86, 103,  87,  94,  78,  77,  85,  86])

In [17]:
# Example dataset
data = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# Calculating quartiles
q1 = np.percentile(data, 25)
q3 = np.percentile(data, 75)
# Calculating Interquartile Range (IQR)
iqr = q3 - q1
print("Q1:", q1)
print("Q3:", q3)
print("Interquartile Range (IQR):", iqr)

Q1: 32.5
Q3: 77.5
Interquartile Range (IQR): 45.0