In [1]:
# The task is to display numbers 1 to 5 one after the other
x = 1
print(x)
y = 2
print(y)
z = 3
print(z)
a = 4
print(a)
b = 5
print(b)

1
2
3
4
5

**range() in Python**

- it is an in-built function in Python that helps to generate a sequence of numbers.
- It is used to iterate over a sequence of numbers in loops.

*Syntax:*
range(start,stop,step)
- start: accepts an integer value which specifies the starting value of the sequence (optional)
- stop: accepts an integer value which specifies the ending value of the sequence (required) 
 And, the stop value is inclusive only until (stop_value-1)
- step: accepts an integer value which specifies the gap/increment between each number in the sequence to be generated(optional)

In [10]:
range(1,6) # --> this range function is supposed to generate numbers between 0 to 5 with a default step value of 1

range(1, 6)

**for loop**

- i in the for loop is known as the local iterable variable.
- the number of for loop iterations = no of values generated by the range function/present in the collection variable

In [9]:
for i in range(1,6):
    print(i)

1
2
3
4
5

**How to combine conditions and loops?**

In [13]:
for i in range(1,6):
    if i % 2==0:
        print(i, "is an even number.")
    else:
        print(i, "is an odd number.")

1 is an odd number.
2 is an even number.
3 is an odd number.
4 is an even number.
5 is an odd number.

**while loop**
- while loop can execute a set of statements only as long as the condition is true.

In [17]:
num = 1

while num < 5:
    print(num)
    num+=1

1
2
3
4

In [18]:
num = 10

while num > 5:
    print(num)
    num-=1

10
9
8
7
6

**Loop Control statements**

- **break** - abruptly halts the loop execution.
- **continue** - skips the current iteration and it helps to move onto the next iteration.

In [20]:
for i in "Hello":
    if i == "l":
        break
    print(i)

print("End of loop")

H
e
End of loop

In [21]:
for i in "Hello":
    if i == "l":
        continue
    print(i)

print("End of loop")

H
e
o
End of loop

# Collection data types

- lists, tuples, sets, dictionaries

**Lists**

- Lists should be declared with a set of square braces only.
- Lists are 1 dimensional and they are mutable(i.e) the values can be modified.
- Lists are an ordered collection of items.

In [22]:
num_list = [1,2,3,4,5,6]
print(num_list)

[1, 2, 3, 4, 5, 6]

In [23]:
first_list =["Mark",101,23.6,"test",False] # it is possible to store heterogenous datatype value in a list
print(first_list)

['Mark', 101, 23.6, 'test', False]

In [24]:
print(first_list[0])

Mark

In [25]:
print(first_list[2])

23.6

In [27]:
first_list[4]
first_list[3]

'test'

In [28]:
print(first_list[4])
print(first_list[3])

False
test

**Slicing**

In [29]:
print(first_list)

['Mark', 101, 23.6, 'test', False]

In [30]:
first_list[0:2] #syntax for slicing : collection_variable_name[start_index:stop_index]

['Mark', 101]

From above, we can infer that the start index value is inclusive but the stop index value is inclusive only until stop_index-1

In [31]:
first_list[0:3]

['Mark', 101, 23.6]

In [32]:
first_list[2:5]

[23.6, 'test', False]

In [33]:
print("The total number of items present in the list are : ")
print(len(first_list)) -# len() function can be used to check the length of the list.

The total number of items present in the list are :
5

In [34]:
print(first_list)

['Mark', 101, 23.6, 'test', False]

In [35]:
first_list[0] = "Joseph"

first_list

['Joseph', 101, 23.6, 'test', False]

In [36]:
print(first_list)

['Joseph', 101, 23.6, 'test', False]

In [37]:
first_list.append(200) - #append() is a list modification method that helps in adding new values towards the end of the list

print(first_list)

['Joseph', 101, 23.6, 'test', False, 200]

In [38]:
first_list.append("Sophie")
print(first_list)

['Joseph', 101, 23.6, 'test', False, 200, 'Sophie']

From above, we can infer that lists are mutable.

**Tuples**

- Tuples should be declared with a set of round braces() only.
- Tuples are 1 dimensional and they are immutable(i.e) the values cannot be modified.
- Tuples are an ordered collection of items.

In [39]:
first_tuple = (12, "Jack", 45.6,"alice", "new", True)

print(first_tuple)

(12, 'Jack', 45.6, 'alice', 'new', True)

In [40]:
print(type(first_tuple))

<class 'tuple'>

In [41]:
print(first_tuple[1])

Jack

In [42]:
print(first_tuple[1:4])

('Jack', 45.6, 'alice')

In [43]:
# Let's try updating the value "Jack" to "Smith" in the tuple
first_tuple[1] = "Smith"

TypeError: 'tuple' object does not support item assignment

**This clearly implies that tuples are immutable (i.e) Once created, they cannot be modified.**

**Sets**

- Sets should be declared with a set of curly braces{} only.
- Sets are an unordered collection of items.
- Sets are a collection of unique values only.

In [44]:
city_names = {"Delhi","Kolkata","Mumbai","Chennai","Bengaluru","Delhi"}

print(city_names)

{'Mumbai', 'Bengaluru', 'Delhi', 'Chennai', 'Kolkata'}

**Interview question** - How do you remove duplicate values in a list using Python?

In [46]:
list_vals = [20,30,40,50,40,30]
print(list_vals)
#simple solution is to typecast the list to a set and to type cast the set back to a list
print("After typecasting the list to set : ")
set_list_vals = set(list_vals)
print(set_list_vals)

[20, 30, 40, 50, 40, 30]
After typecasting the list to set :
{40, 50, 20, 30}

In [47]:
list_set_list_vals = list(set_list_vals)
print(list_set_list_vals)

[40, 50, 20, 30]

In [48]:
het_set = {"Jack", 200, True, 47.8}
print(het_set)

{200, True, 'Jack', 47.8}

**Dictionaries**

- Dictionaries in Python are used to store the data in the form of key-value pairs
- Dictionaries are mutable.
- Dictionaries have to be defined with curly braces{} only.

In [49]:
student_dict = {101:["Raj", "raj123@gmail.com", 20,"Ganesh"],
               102:["Sophie", "sophie123@gmail.com", 20,"Antony"]}

In [50]:
print(student_dict)

{101: ['Raj', 'raj123@gmail.com', 20, 'Ganesh'], 102: ['Sophie', 'sophie123@gmail.com', 20, 'Antony']}

In [51]:
student_dict[102]

['Sophie', 'sophie123@gmail.com', 20, 'Antony']

In [55]:
student_dict[102][1]

'sophie123@gmail.com'

In [56]:
student_dict[102][0:2]

['Sophie', 'sophie123@gmail.com']

In [52]:
student_simple_dict ={101:"Raj",102:"Sophie",103:"Pankaj"}

In [53]:
print(student_simple_dict)

{101: 'Raj', 102: 'Sophie', 103: 'Pankaj'}

In [54]:
#we can access the value "Pankaj" with it's key,103
student_simple_dict[103]

'Pankaj'

In [57]:
# How to modify values in a dictionary
student_simple_dict[103] = "Maya"

In [58]:
student_simple_dict

{101: 'Raj', 102: 'Sophie', 103: 'Maya'}

In [59]:
#how to print the keys?
student_simple_dict.keys()

dict_keys([101, 102, 103])

In [60]:
#how to print all the values alone?
student_simple_dict.values()

dict_values(['Raj', 'Sophie', 'Maya'])

In [61]:
# how to delete a key along with it's value in dictionary?

del student_simple_dict[101]

print(student_simple_dict)

{102: 'Sophie', 103: 'Maya'}

# How to create functions in Python?

In [62]:
x,y = 10,20

z,t = 1,4

In [65]:
sum_xy = x+y
print(sum_xy)

30

In [66]:
sum_zt = z+t
print(sum_zt)

5

In [67]:
def add_two_variables(a,b):
    sum_of_two = a + b
    return sum_of_two

In [68]:
total_xy = add_two_variables()

TypeError: add_two_variables() missing 2 required positional arguments: 'a' and 'b'

In [69]:
total_xy = add_two_variables(x,y)
print(total_xy)

30

In [70]:
def print_msg():
    print("Session went well today.")
    pass #whenever there is no value to return in a function, you can use the keyword "pass"

In [71]:
print_msg() #function call

Session went well today.

# Error handling in Python

In [80]:
x,y = 100,200
def add_two_variables(a,b):
    sum_of_two = a + b
    return sum_of_two
total_xy = add_two_variables()

z,t = 25,26
sum_zt = z+t
print("Sum of z and t is : ",sum_zt)

TypeError: add_two_variables() missing 2 required positional arguments: 'a' and 'b'

In [75]:
try:
    x,y = 100,200
    def add_two_variables(a,b):
        sum_of_two = a + b
        return sum_of_two
    total_xy = add_two_variables()
    
except:
    print("An exception occured.")

An exception occured.

In [76]:
try:
    x,y = 100,200
    def add_two_variables(a,b):
        sum_of_two = a + b
        return sum_of_two
    total_xy = add_two_variables()
    
except TypeError:
    print("You need to call the function with 2 arguments")

You need to call the function with 2 arguments

In [77]:
try:
    x,y = 100,200
    def add_two_variables(a,b):
        sum_of_two = a + b
        return sum_of_two
    total_xy = add_two_variables(x,y)
    print(total_xy)
    
except TypeError:
    print("You need to call the function with 2 arguments")

300

In [79]:
try:
    x,y = 100,200
    def add_two_variables(a,b):
        sum_of_two = a + b
        return sum_of_two
    total_xy = add_two_variables()
    
except TypeError:
    print("You need to call the function with 2 arguments")
    
z,t = 25,26
sum_zt = z+t
print("Sum of z and t is : ",sum_zt)

You need to call the function with 2 arguments
Sum of z and t is :  51

# File handling in Python

In [81]:
file = open("example.txt",'w')

In [82]:
file.write("Hello World!")

12

In [83]:
file.close()

In [84]:
file = open("example.txt")

In [85]:
file_contents = file.read()
print(file_contents)

Hello World!

In [86]:
file.close()

**Reference:**
https://www.geeksforgeeks.org/how-to-save-a-python-dictionary-to-a-csv-file/

# End of Discussion